table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 10px;
      margin: 20px auto;
      text-align: center;
      
}

th {
      background-color: #f2f2f2;
      color: green;
}

.warna {
      color: rgb(0, 183, 255);
}
img {
width: 100px;
height: 100px;
}